.App {
  width: 100%;
  text-align: center;
}

.grid-container {
  width: 100%;
  text-align: center;
  padding-left: 20px;
}

.single-panel-display {
  height: calc(100vh - 80px);
  overflow-y: scroll;
}

table {
  width: 100%;
  text-align: center;
}

th,
td {
  padding: 12px 15px;
  border-bottom: 1px solid #e1e1e1;
}

th:first-child,
td:first-child {
  padding-left: 0;
}

th:last-child,
td:last-child {
  padding-right: 0;
}

.album-details {
  text-align: left;
}

.left-align-list {
  display: inline-block;
  text-align: left;
  width: calc(100% - 50px);
}

.link-button {
  background: none !important;
  border: none;
  padding: 0 !important;
  /*optional*/
  font-family: arial, sans-serif;
  /*input has OS specific font-family*/
  cursor: pointer;
}

.spotify-button {
  background-color: rgb(26, 163, 74);
  border-bottom-color: rgb(26, 163, 74);
  border-bottom-style: solid;
  border-image-repeat: stretch;
  border-image-width: 1;
  border-left-color: rgb(26, 163, 74);
  border-left-style: solid;
  border-right-color: rgb(26, 163, 74);
  border-right-style: solid;
  border-top-color: rgb(26, 163, 74);
  border-radius: 500px;
  border-top-style: solid;
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  display: inline-block;
  font-family: Circular, Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 2px;
  line-height: 12px;
  margin-bottom: 10px;
  margin-top: 10px;
  min-width: 160px;
  overflow-wrap: break-word;
  padding: 11px 32px 9px;
  text-align: center;
  text-decoration: rgb(255, 255, 255);
  text-decoration-line: none;
  text-decoration-style: solid;
  text-transform: uppercase;
  vertical-align: middle;
  white-space: normal;
}

.disc-number-header {
  padding-top: 20px !important;
}

.config-div {
  padding-bottom: 20px;
}

.one-drive-button {
  background-attachment: scroll;
  background-clip: border-box;
  background-color: rgb(0, 120, 212);
  background-image: none;
  background-origin: padding-box;
  border-bottom-color: rgb(211, 211, 211);
  border-bottom-style: solid;
  border-bottom-width: 1.6px;
  border-image-width: 1;
  border-left-color: rgb(211, 211, 211);
  border-left-style: solid;
  border-left-width: 1.6px;
  border-right-color: rgb(211, 211, 211);
  border-right-style: solid;
  border-right-width: 1.6px;
  border-top-color: rgb(211, 211, 211);
  border-top-style: solid;
  border-top-width: 1.6px;
  box-shadow: rgba(0, 0, 0, 0.035) 0px 4px 8px 0px;
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  cursor: pointer;
  display: inline-block;
  font-family: Segoe UI, SegoeUI, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 15px;
  font-weight: 600;
  line-height: 15px;
  margin-right: 0px;
  max-width: 374px;
  min-width: 230px;
  outline: rgb(255, 255, 255) none 0px;
  overflow: hidden;
  padding: 12px;
  position: relative;
  text-align: center;
  text-decoration: rgb(255, 255, 255);
  text-decoration-line: none;
  text-decoration-style: solid;
  transition-delay: 0s;
  transition-duration: 0.2s;
  transition-property: all;
  transition-timing-function: ease-in-out;
  vertical-align: bottom;
  white-space: normal;
}
