.App {
  width: 100%;
  margin: 0 10px;
  text-align: center;
}

table {
  width: 100%;
  text-align: center;
}

th,
td {
  padding: 12px 15px;
  border-bottom: 1px solid #e1e1e1;
}

th:first-child,
td:first-child {
  padding-left: 0;
}

th:last-child,
td:last-child {
  padding-right: 0;
}

.album-details {
  text-align: left;
}

.left-align-list {
  display: inline-block;
  text-align: left;
  width: calc(100% - 50px);
}

.link-button {
  background: none !important;
  border: none;
  padding: 0 !important;
  /*optional*/
  font-family: arial, sans-serif;
  /*input has OS specific font-family*/
  color: #069;
  text-decoration: underline;
  cursor: pointer;
}

.spotify-button {
  background-color: rgb(26, 163, 74);
  border-bottom-color: rgb(26, 163, 74);
  border-bottom-style: solid;
  border-image-repeat: stretch;
  border-image-width: 1;
  border-left-color: rgb(26, 163, 74);
  border-left-style: solid;
  border-right-color: rgb(26, 163, 74);
  border-right-style: solid;
  border-top-color: rgb(26, 163, 74);
  border-radius: 500px;
  border-top-style: solid;
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  display: inline-block;
  font-family: Circular, Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 2px;
  line-height: 12px;
  margin-bottom: 0px;
  min-width: 160px;
  overflow-wrap: break-word;
  padding: 11px 32px 9px;
  text-align: center;
  text-decoration: rgb(255, 255, 255);
  text-decoration-line: none;
  text-decoration-style: solid;
  text-transform: uppercase;
  vertical-align: middle;
  white-space: normal;
}
