.App {
  width: 100%;
  margin: 0 10px;
  text-align: center;
}

table {
  width: 100%;
  text-align: center;
}

th,
td {
  padding: 12px 15px;
  border-bottom: 1px solid #E1E1E1;
}

th:first-child,
td:first-child {
  padding-left: 0;
}

th:last-child,
td:last-child {
  padding-right: 0;
}

.album-details {
  text-align: left;
}

.left-align-list {
  display: inline-block;
  text-align: left;
  width: calc(100% - 50px);
}

.link-button {
  background: none!important;
  border: none;
  padding: 0!important;
  /*optional*/
  font-family: arial, sans-serif;
  /*input has OS specific font-family*/
  color: #069;
  text-decoration: underline;
  cursor: pointer;
}
