/* got this from https://stackoverflow.com/questions/90178/make-a-div-fill-the-height-of-the-remaining-screen-space */

html,
body {
  height: 100%;
  margin: 0;
}

#root {
  height: 100%;
}

.box {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.box .row.header {
  flex: 0 1 auto;
  /* The above is shorthand for:
  flex-grow: 0,
  flex-shrink: 1,
  flex-basis: auto
  */
}

.box .row.content {
  display: flex;
  flex-flow: column;
  flex: 1 1 auto;
  overflow-y: auto;
}

.box .row.footer {
  flex: 0 1 20px;
}
